@import "tailwindcss";

/* Hilangin warna kuning/biru autofill bawaan browser */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgb(15 23 42) inset !important; /* warna bg = slate-900 */
  -webkit-text-fill-color: #f1f5f9 !important; /* text warna slate-100 */
  transition: background-color 5000s ease-in-out 0s !important;
}